@font-face {
  font-family: "Synthia";
  src: url("../public/fonts/synthia/Synthia.otf") format("opentype");
}

@font-face {
  font-family: "Retrobound";
  src: url("../public/fonts/retrobound/RetroBound.ttf");
}

//Colors
$pink: #d30cb8;
$yellow: #fbff00;
$cyan: #37eaf6;
$dark-purple: #241831;

//Variables
$animation-duration: 2s;

$neon-color-on: white;
$neon-shadow-color: $pink;
$neon-shadow: 0 0 7px $neon-color-on, 0 0 10px $neon-color-on, 0 0 21px $neon-color-on,
  0 0 42px $neon-shadow-color, 0 0 82px $neon-shadow-color, 0 0 92px $neon-shadow-color,
  0 0 102px $neon-shadow-color, 0 0 151px $neon-shadow-color;

$neon-shadow-pink: 0 0 7px $pink;

$neon-color-off: #6b2762;
$neon-shadow-off: 0 0 7px $neon-color-off, 0 0 10px $neon-color-off, 0 0 21px $neon-color-off;

$neon-box-shadow: 0 0 7px $neon-color-on, 0 0 10px $neon-color-on, 0 0 42px $neon-shadow-color,
  0 0 82px $neon-shadow-color, 0 0 92px $neon-shadow-color;
.App {
  text-align: center;
  background-color: $dark-purple;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1 1 100%;
  min-height: 100vh;
  color: white;
  font-size: 10rem;
}

.header {
  position: absolute;
}

.neon-fade {
  animation-name: neon-fade-in;
  animation-duration: $animation-duration;
}

.neon-on {
  color: $neon-color-on;
  text-shadow: $neon-shadow;
}
.neon-off {
  color: $neon-color-off;
  text-shadow: $neon-shadow-off;
}

.neon-on-white {
  color: $pink;
  text-shadow: $neon-shadow-pink;
}

@keyframes neon-fade-in {
  0% {
    color: $neon-color-off;
    text-shadow: $neon-shadow-off;
  }
  100% {
    color: $neon-color-on;
    text-shadow: $neon-shadow;
  }
}

@keyframes neon-box-shadow-fade-in {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: $neon-box-shadow;
  }
}
.neon-box-shadow-fade {
  animation-name: neon-box-shadow-fade-in;
  animation-duration: $animation-duration;
}

.description {
  font-size: 25px;
  font-family: "Retrobound";
  padding-top: 20px;
  padding-left: 150px;
  box-shadow: none;
}

.neon-box-shadow {
  box-shadow: $neon-box-shadow;
}
